<div class="" style="height: 100vh; width: 100%;">
    <div class="text position-absolute d-flex flex-column">
        <h1>BIENVENUE</h1>
        <h3>AU GALERIE DE</h3>
        <h2>MUSTAPHA BOUFERNANA</h2>
        <button class="btn btn-outline-primary p-3 px-4 mt-5 fs-4">Explorer la galerie <span class="material-symbols-outlined" style="font-size: 40px; vertical-align: middle;">expand_circle_right</span></button>
    </div>
    <app-three-renderer [height]="1.2" [width]="1.1"></app-three-renderer>
</div>