<div class="d-flex background">
    <div class="containe">
        <div class="items">
            <img [ngClass]="{'notvis': image!=0}" src="assets/uni1.jpg" alt="">
            <h5 class="item" [ngClass]="{'selected': image==0}" (click)="setImage(0)">Tableaux uniques à votre disposition</h5>
        </div>
        <div class="items">
            <img [ngClass]="{'notvis': image!=1}" src="assets/tex1.jpg" alt="">
            <h5 class="item" [ngClass]="{'selected': image==1}" (click)="setImage(1)">Toile et painture de superbe qualité</h5>
        </div>
        <div class="items">
            <img [ngClass]="{'notvis': image!=2}" src="assets/tex2.jpg" alt="">
            <h5 class="item" [ngClass]="{'selected': image==2}" (click)="setImage(2)">Atelier ouvert pour vos commisions</h5>
        </div>
    </div>
</div>
