.contain1{
    padding: 40px;
    margin: 0;
    width: 100%;
}

.contain{
    border-radius: 15px;
    box-shadow: rgba(148, 98, 117, 0.26) 0px -4px 24px;
}

h2{
    color: transparent;
    margin: 40px auto;
    font-weight: bold;
    background: #aa4b6b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
}

.options{
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 20px 10px;
    justify-content: center;
    gap: 20px;
    max-width: 500px;
    // margin-bottom: 10px;
}

.dropdown-center{
    width: 100%;
}

button{
    border: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.22);
}

mat-accordion{
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
mat-expansion-panel{
    box-shadow: 0;
    padding: 5px;
}
.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
    background-color: white;
}
mat-expansion-panel-header{
    box-shadow: none;
}

//____________________________________________

.tableau{
    background-color: #3b8d99;
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

.gri{
    display: flex;
    min-height: 500px;
    padding: 10px;
    padding-top: 40px;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}


span{
    vertical-align: middle;
}

@media only screen and (max-width: 767px) {
/* Styles for tablets and large phones */
    .contain1{
        padding: 0;
    }
    h2{
        margin: 40px 10px;
    }
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
/* Styles for tablets */

}

/* Laptops and Desktops */
@media only screen and (min-width: 992px){
/* Styles for laptops and desktops */

}


